.content {
  display: flex;
  flex-direction: column;
}

.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  cursor: pointer;
  margin-left: 15px;
}

.btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.filter__button__active {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ad61ff;
  border-radius: 60px;
  color: #ad61ff;
  padding: 6px 20px;
  cursor: pointer;
  margin-left: 15px;
  transition: all 0.3s;
}
.btnText_active {
  transform: scale(1.08);
}

.list {
  width: 248px;
  height: 305px;
  top: 285px;
  border-radius: 12px;
  background: #313131;
  position: absolute;
}
